<p id="notice"><%= notice %></p>

<p>
  <strong>Page number:</strong>
  <%= @quote.page_number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @quote.tag %>
</p>

<p>
  <strong>Book:</strong>
  <%= @quote.book %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
