<%= semantic_form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.inputs do %>
      <%= f.input :book_id, :as => :select, :collection => Book.all %>
    <% end %>
  </div>
  <p>Quote</p>
    <%= f.semantic_fields_for :quotes do |q| %>
      <div class="twelve columns">
        <%= render 'quote_fields', :f => q %>
        <div class="links">
          <%= link_to_add_association 'add quote', f, :quote %>
        </div> 
      <% end %>


      </div>
    <%= f.actions %>
<% end %>
