<div class="row">
  <div class="small-8 columns">
    <h1>Revisões feitas</h1>
  </div>
  <div class="small-4 columns">
    <%= link_to 'New Review', new_review_path %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns end">
    <% @reviews.each do |review| %>
      <div class="row">
        <div class="small-12 columns">
          <h3><strong><%= review.book.author_lastname %>,<%= review.book.author_firstname %></strong>.<%= review.book.title %></h3>
          <p><%= review.book.summary %></p>
          <p><%= review.quotes.count %></p>
          
                 
<%= link_to 'Show', review %>
        </div>
      </div>
    <% end %>
  </div>
</div>
